
.calc-food-page {
    background-image: url('../../../assets/LoginBg.png'); // Assuming the image is located here
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
    .calc-container {
      background-color: rgba(255, 255, 255, 0.9); // Semi-transparent background
      padding: 40px;
      border-radius: 25px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      max-width: 700px;
      width: 100%;
      text-align: center;
      
      h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 36px;
        color: #1890ff;
        margin-bottom: 30px;
        text-align: center;
      }
      h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 36px;
        color: #1890ff;
        margin-bottom: 30px;
        text-align: center;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .ant-form-item {
          margin-bottom: 20px;
          label {
            color: #333;
            font-weight: bold;
          }
          
          input, .ant-select {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
          }
  
          .ant-select-selector {
            border-radius: 5px;
            border: 1px solid #ccc;
          }
        }
  
        button[type="submit"] {
          background-color: #ec2323;
          color: white;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #da2f2f;
          }
        }
      }
    }
  }
  
  .result{
    background-color: rgb(255, 137, 20); 
    border-radius: 20px;
    padding: 20px;
    align-items: center;

    h3{
      color: white;
      font-size: 20px;
      font-weight: 900;
      font-family: 'Rubik';
      text-transform: uppercase;
      // text-decoration: underline;
      margin: 10px;
    }
  }

  .ant-radio-button-wrapper {
  
    &.ant-radio-button-wrapper-checked {
      color: white !important;  // Text color when checked
      background-color: rgb(60, 121, 253) !important; // Background color when checked
      border-color: blue !important; // Optional: Border color if needed
    }

    &:hover {
      color: white;
      background-color: rgb(123, 163, 250);
    }
  }

  .detail-button{
    background-color: #f11818;
    font-weight: 900;
    color: white;
    width: 100%;
  }
  