.koi-page {
    background-image: url('../../../assets/LoginBg.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .koi-container {
      background-color: rgba(255, 255, 255, 0.95);
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      max-width: 1000px;
      width: 100%;

      .info-title {
        font-family: 'Oswald', sans-serif;
        font-size: 36px;
        color: #1890ff;
        margin-bottom: 20px;
        text-align: center;
      }

      .koi-info-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        align-items: flex-start;
      }

      .koi-info, .koi-report {
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 48%;
      }

      .koi-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 10px;
      }

      .koi-stats {
        align-items: center;
        display: flex;
        flex-direction: column;

        p {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }

      .report-title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .report-history-card {
        background-color: #f38f3d;
        color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.02);
        }
      }

      .anticon {
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #1890ff;
        }
      }

      .go-back-button {
        margin-top: 20px;
        align-self: flex-start;
      }
    }
}

@media (min-width: 768px) {
  .koi-info-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .koi-info, .koi-report {
    width: 48%;
  }
}
