.koi-page {
    background-image: url('../../../assets/LoginBg.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .koi-container {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px;
      border-radius: 25px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      max-width: 1200px;
      max-height: 1000px;
      width: 100%;
  
      .info-title {
        font-family: 'Oswald', sans-serif;
        font-size: 36px;
        color: #1890ff;
        margin-bottom: 30px;
        text-align: center;
      }
  
      .koi-info-container {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
      }
  
      .koi-info, .koi-report {
        width: 48%; 
        height: 800px;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      .koi-img {
        max-width: 500px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 10px;
      }
  
      .koi-stats {
        align-items: center;
        display: flex;
        flex-direction: column;

        p {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
  
      .report-title {
        font-size: 24px;
        margin: 20px;
      }
  
      .report-entry {
        margin-bottom: 20px;
        p {
          margin-bottom: 5px;
        }
      }
  
      .report-latest h3 {
        font-size: 11px;
        margin-bottom: 10px;
      }
  
      .anticon {
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #1890ff;
        }
      }
  
      button {
        margin-top: 20px;
      }
    }
  }
  
  .koi-report{
    overflow-y: auto;

    .report-header{
        display: flex;
        flex-direction: row;
    }

    .report-history-card{
        background-color: #f38f3d;
        color: #ffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        padding: 8px;
        border-radius: 10px;
    }
  }


  
  .koi-info{
    max-width: 1200px;
    overflow-x: hidden;

    .koi-row-2, .koi-row-3, .koi-row-4{
        width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Create a 2-column layout */
        gap: 10px;
    }

    .koi-form{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: left; 
    }

    .koi-report-latest{
      font-size: 13px;
      background-color: #e4e4e4;
      border-radius: 8px;
      padding: 3px;
      margin-left:10px;
      height: 170px;
    }


    .koi-form{
      display: flex;
      flex-direction: column;
      align-items: left;
    }

    .koi-img-container{
      display: grid;
      grid-template-columns: 2fr 1fr; /* Create a 2-column layout */
    }

    .koi-row-1{
      width: 300px;
      display: grid;
      grid-template-columns: 1fr 1fr; /* Create a 2-column layout */
      max-height: 350px;
    }

    .ant-form-item-control-input{
      max-width: 100px ;
    }
  }
